html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-row-column {
  flex: 1;
  text-align: center;
  margin: 10px 20px 10px 20px;
}
.projects {
  padding-top: 15px;
  padding-bottom: 75px;
}
.flex-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*align-items: center;*/
  /*justify-content: center;*/
}
.flex-nav-tab {
  flex: 1;
  margin: 0 20px -10px 20px;
}
/* section classes */
section {
  padding-top: 20px;
  color: inherit;
  background-color: inherit;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
/* backgrounds */
.inverted {
  background-color: #1d4668;
  color: #F4F6F7;
}
.transitional {
  background-color: #dbf1fc;
}
article, header {
  padding: 20px 30px;
}
header {
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
  overflow: hidden;
}
/* Mobile first styles go here */
.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

body {
  /*color: #66686d;*/
  font-family: 'Archivo Narrow', sans-serif;
  color: #808287;
  font-size: 16pt;
}
.container {
  margin: 0;
  padding: 0;
  /*width: 800px;*/
}
h2 {
  color: #1d4668;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 30px 0;
}
.inverted h2 {
  color: #ffffff;
}
h3 {
  margin: 10px 0;
  color: #e8651a;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
}
.dividing {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #1d4668;
	margin: 0.9rem 0;
}
.dividing::before,
.dividing::after {
	content: "";
	flex-grow: 1;
	background-color: #1d4668;
	height: 1px;
	font-size: 0;
	line-height: 0;
	margin: 0 0.9rem;
}
.inverted .dividing {
  color: #ffffff;
}
.inverted .dividing::before,
.inverted .dividing::after {
  background-color: #ffffff;
}
ul {
  list-style: none;
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}
li {
  margin-bottom: 0.6rem;
}
li:before {
  display: block;
  float: left;
  width: 1.5rem;
  color: #e8651a;
  content: "\25cf";
}
.pointer {
  opacity: 0;
  display: inline-block;
	width: 0;
	height: 0;
  margin: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 30px solid #1d4668;
}
.active {
  opacity: 1;
}
/*.tab-item:hover .pointer {
  opacity: 0.15;
}*/
.tabbed-panels {
  position: relative;
  height: 150px;
  overflow: hidden;
}
.tabbed-panels .panel {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.tabbed-panels .active {
  opacity: 1;
  /*visibility: visible;*/
}
.justified {
  text-align: justify;
}
.centered {
  text-align: center;
}
.bumped-left {
  padding-left: 1.5rem;
}
button {
  font-family: 'Archivo Narrow', sans-serif;
  display: inline;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #e8651a;
  border: 1px solid #e8651a;
  color: #ffffff;
  padding: 6px 14px;
  text-align: center;
  text-transform: uppercase;
}
section.featured {
  margin-top: 0;
  height: 330px;
  background-image: url('/static/images/globe_lights_w_overlay-1000x413.jpg');
  background-size: cover;
  background-position: center;
}
section.featured .featured-slogan {
  margin-top: 70px;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  /*color: #E8ECF0;*/
}
.logo {
  margin-top: 8px;
}
nav {
  float: right;
  margin-top: 24px;
  /*vertical-align: middle;*/
  text-align: right;
}
.nav-item {
  color: #1d4668;
  font-size: 0.9rem;
  border-left: 1px solid #1d4668;
  text-transform: uppercase;
  display: inline;
  padding: 0 8px;
  cursor: pointer;
}
.nav-item:first-child {
  border-left: none;
}
.nav-button {
  font-family: 'Archivo Narrow', sans-serif;
  display: inline;
  font-size: 1rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #1d4668;
  border: 1px solid #1d4668;
  color: #ffffff;
  padding: 4px 10px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.tabbed-tabs .tab-item {
  /*z-index: -100;*/
  cursor: pointer;
  text-align: center;
  color: #1d4668;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
section.prefooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-size: cover;
}
@media screen and (min-width: 800px) {
  /* Desktop styles go here */
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
    padding-left: 14px;
    padding-right: 0;
  }
  .half:first-child {
    padding-left: 0;
    padding-right: 14px;
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  .column {
    float: left;
  }
  /*h1 {
    font-size: 2rem;
  }*/
  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;
  }
  .nav-item {
    font-size: 1rem;
    padding: 0 10px;
  }
  .nav-button {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 10px;
  }
  .main {
    margin-top: 80px;
  }
  section.featured {
    margin-top: 0;
    position: relative;
    height: 413px;
    /*background-image: url('/static/images/globe_lights_w_overlay-1000x413.jpg');*/
    background-size: cover;
    background-position: center;
  }
  section.featured .featured-slogan {
    margin-top: 80px;
    text-align: center;
    font-size: 2rem;
  }
  footer {
    border-top: 10px solid #e8651a;
    min-height: 75px;
  }
}
